
header {
    background-color: #363638;
    opacity: 1;
}
.navbar { 
    height: 11vh;
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 5vw;
}
.social-media {
    justify-content: end;
}
.logo-ap {
    height: 6.3em;
}
.navbar-collapse {
    background-color: #363638;
    margin-top: -6px;
    margin-left: -4px;
}
/* .logo-git {
    height: 2.7em;
    margin-left: 20px;
}
.logo-gmail {
    height: 2.6em;
    margin-left: 20px;
}
.logo-git .logo-gmail :hover {
    transform: scale(1.08);
} */
.nav-item {
    color: white;
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}
.nav-item:hover {
    opacity: 0.9;
}
.sign-in {
    text-decoration: none;
    background-color: none;

    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 20px;

}

@media (max-width: 980px) {
    .nav-item {
        margin-bottom: 15px;
        font-size: 20px;
        width: 100vw;
    }
    .navbar {
        height: 100px;
        
    }
    .logo-ap {
        height: 90px;
        display: flex;
        margin-right: auto;
    }
}