<header>
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo-ap" src="../../assets/imgimportant/APLogo-20-20 (1).png" alt="logo-argentinaprograma">
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav d-flex justify-content-end">
                <li class="nav-item">
                    <a style="text-decoration: none; color: white;;"href="#sobremi"> Sobre mi</a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration: none; color: white;;"href="#skills"> Skills</a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration: none; color: white;;"href="#proyectos"> Mis proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="sign-in"  (click)="onLogOut()" *ngIf="isLogged">Cerrar sesion</a>
                    <a class="sign-in"  (click)="signin()" *ngIf="!isLogged">Iniciar sesion</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</header>

