<div class="row background">
<!--     <div class="texto col-md-4">Esta página ha sido realizada con</div>
    <div class="imagenes col-md-4">

    </div>
    <div class="iconos col-md-4">
        <span class="texto-imagen"> Redes sociales: </span>
        <a href="#"><img class="icono fa-brands" src="../../assets/imgimportant/github.png" /></a>
        <a href="#"><img class="icono fa-brands" src="../../assets/imgimportant/facebook.png" /></a>
    </div>
 -->
 <div class="row experience-title d-flex justify-content-center mb-5">
    <div class="hr col-sm-12 col-md-5 ">
        <hr class="hr">
    </div>
    <div class="text col-sm-12 col-md-2 d-flex justify-content-center my-4">Realizado con </div>
    <div class="hr col-sm-12 col-md-5">
        <hr class="hr">
    </div>
            <img class="img" src="..\assets\imgimportant\2048px-Angular_full_color_logo.svg.png">
            <img class="img" src="..\assets\imgimportant\919832.png">
            <img class="img" src="..\assets\imgimportant\logo-mysql-mysql-logo-png-images-are-download-crazypng-21.png">
</div>