<div class="row logo-bg">
    <div class="col-sm-1-md-4"></div>
    <div class="col-sm-1-md-4 logo-desc">
        <section class="about">
            <div class="banner">
                <div class="contenedor-img">
                    <img class="logo" src="../../assets/imgimportant/104037425.png" alt="">
                </div>
                <h1>MATEO DE MARI</h1>
                <h2>Programador Web</h2>
                <div class="redes">
                    <a href="#"><img class="icono fa-brands" src="../../assets/imgimportant/github.png" /></a>
                    <a href="#"><img class="icono fa-brands" src="../../assets/imgimportant/facebook.png" /></a>
                </div>
            </div>
        </section>
    </div>
    <div class="col-sm-1-md-4"> </div>
</div>
<div class="row about-title d-flex justify-content-center">
    <div class="hr col-md-5 ">
        <hr class="hr">
    </div>
    <div id="sobremi" name="sobremi" class="text col-md-2 d-flex justify-content-center my-4">Sobre mi </div>
    <div class="hr col-md-5">
        <hr class="hr">
</div>
    <div class="row about-info">
        <span class="about-info_text mb-5">¡Hola! Mi nombre es Mateo De Mari y tengo 20 años. Me apasiona el mundo de la
            programación web y me considero un programador entusiasta y dedicado. Desde temprana edad, he sentido
            curiosidad por la tecnología y los videojuegos. Busco continuamente aprender y crecer en el campo de la
            programación. Me encanta enfrentar desafíos y encontrar soluciones innovadoras para crear sitios web que
            destaquen en el mundo digital. </span>

    <section class="row education-title education">
            <div class="hr col-md-5 ">
                <hr class="hr">
            </div>
            <div class="text col-md-2 d-flex justify-content-center my-4">Educacion </div>
            <div class="hr col-md-5">
                <hr class="hr">
            </div>
        </section>
        <div class="d-grid justify-content-center education-background">
            <div>
                <img class="education-img" width="80" height="80"
                    src="../../assets/imgimportant/icons8-education-80.png" alt="education" />
                <span class="education-text">Estudios secundarios en la orientación Comunicación realizada en el Colegio
                    Jose Hernandez de Villa Ballester 2014-2020</span>
            </div>
            <p></p>
            <div>
                <img class="education-img" width="80" height="80"
                    src="../../assets/imgimportant/icons8-education-80.png" alt="education" />
                <span class="education-text">Carrera de Desarrollo Web FullStack en Coderhouse - Presente</span>
            </div>
            <div class="mb-4">
                <img class="education-img" width="80" height="80"
                    src="../../assets/imgimportant/icons8-education-80.png" alt="education" />
                <span class="education-text">Argentina Programa 3.0 - Presente</span>
            </div>
        </div>
    </div>