<section class="body">
    <!-- SKILLS -->
    <div class="experience">
        <div id="skills" name="skills" class="row experience-title d-flex justify-content-center">
            <div class="hr col-md-5 ">
                <hr class="hr">
            </div>
            <div class="text col-md-2 d-flex justify-content-center my-4">Skills % </div>
            <div class="hr col-md-5">
                <hr class="hr">
            </div>
        </div>
    </div>
    <!-- LIBRERIA CIRCLE -->
    <div class="row my-5">
        <div class="d-flex col-sm-6 col-md-6 col-xl-3 justify-content-center">
            <circle-progress [percent]="90" [radius]="100" [outerStrokeWidth]="9" [innerStrokeWidth]="5"
                [imageSrc]="'../../assets/imgimportant/HTML5_logo_and_wordmark.svg.png'" [showImage]="true"
                [imageHeight]="70" [imageWidth]="70" [outerStrokeColor]="'orange'" [innerStrokeColor]="'white'"
                [animation]="true" [animationDuration]="1000"></circle-progress>
                <div class="d-flex align-items-center justify-content-end text-circle" style="color:white;"> HTML 90% </div>
        </div>
        <div class="d-flex col-sm-6 col-md-6 col-xl-3 justify-content-center">
            <circle-progress [percent]="75" [radius]="100" [outerStrokeWidth]="9" [innerStrokeWidth]="5"
                [imageSrc]="'../../assets/imgimportant/CSS3_logo_and_wordmark.svg.png'" [showImage]="true"
                [imageHeight]="80" [imageWidth]="60" [outerStrokeColor]="'#87CEFA'" [innerStrokeColor]="'white'"
                [animation]="true" [animationDuration]="1000"></circle-progress>
                <div class="d-flex align-items-center justify-content-end text-circle" style="color:white;"> CSS 75% </div>
        </div>
        <div class="d-flex col-sm-6 col-md-6 col-xl-3 justify-content-center">
            <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="9" [innerStrokeWidth]="5"
                [imageSrc]="'../../assets/imgimportant/JavaScript-logo.png'" [showImage]="true" [imageHeight]="80"
                [imageWidth]="110" [outerStrokeColor]="'#ffff00'" [innerStrokeColor]="'white'" [animation]="true"
                [animationDuration]="1000"></circle-progress>
                <div class="d-flex align-items-center justify-content-end text-circle" style="color:white;"> Javascript 85% </div>
        </div>
        <div class="d-flex col-sm-6 col-md-6 col-xl-3 justify-content-start">
            <circle-progress [percent]="70" [radius]="100" [outerStrokeWidth]="9" [innerStrokeWidth]="5"
                [imageSrc]="'../../assets/imgimportant/React-Logo-1.png'" [showImage]="true" [imageHeight]="90"
                [imageWidth]="90" [outerStrokeColor]="'#87CEFA'" [innerStrokeColor]="'white'" [animation]="true"
                [animationDuration]="1000"></circle-progress>
        </div>
        <!-- MIS PROYECTOS -->
        <div id="proyectos"  class="experience">
            <div class="row experience-title d-flex justify-content-center mb-5">
                <div class="hr col-sm-12 col-md-5 ">
                    <hr class="hr">
                </div>
                <div class="text col-sm-12 col-md-2 d-flex justify-content-center my-4">Mis proyectos </div>
                <div class="hr col-sm-12 col-md-5">
                    <hr class="hr">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center proyects pb-5">
            <div class="col-md-4 col-sm-12 d-flex justify-content-center contenedor">
                <img class="proyects-img" src="../../assets/imgimportant/repuestos.png">
                <div class="centrado">
                    <h3>E-Commerce Repuestos HTML/CSS/JS</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 d-flex justify-content-center contenedor">
                <img class="proyects-img" src="../../assets/imgimportant/truco.png">
                <div class="centrado">
                    <h3>Truco Argentino HTML/CSS/JS</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 d-flex justify-content-center contenedor">
                <a href="https://mateodm.github.io/desafioEvento/"><img class="proyects-img" src="../../assets/imgimportant/game.png"/></a>
                <div class="centrado">
                    <h3>Minijuego</h3>
                </div>
            </div>
        </div>
    </div>
</section>