.body {
    background: #2e3439;
    height: fit-content;
    margin: 0px;
}
.experience {
    width: 100vw;
}
.experience-title {
    width: 100vw;
    height: auto;
    background-color: #2e3439;
    color: white;
}
.text {
    font-family: 'Righteous';
    font-size: 40px;
}
.text-circle {
    font-family: 'Righteous';
    font-size: 20px;
    margin-left: 12px;
}
.hr {
    display: grid;
    align-items: center;
    border-color: white;
    color: white;
}
.proyects {
    display: grid;
    justify-content: center;
    height: auto;
    background-color: #2e3439;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
.proyects-img {
    display: flex;
    justify-content: center;
    width: 22vw;
    height: 33vh;
    border: solid white;
    margin-left: 0px;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    color: black;
    font-weight: 100;
    justify-content: center;
}
.centrado{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contenedor:hover .centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e3439;
    font-family: 'Righteous';
    color: white;
    width: 22vw;
}
.arreglo {
    padding-right: 0px !important;
    margin: auto;;
}
@media (max-width: 760px) {
    .contenedor {
        display: flex;
        justify-content: center;
    }
    .text-circle {
        font-size: 14px;
    }
    .proyects-img {
        width: 300px;
        margin-top: 20px;
    }
    .contenedor:hover .centrado {
        width: 300px;
        height: 80px;
    }
}
@media only screen and (min-width: 761px) and (max-width: 1600px) {
    .text-circle {
        font-size: 18px;
        margin-left: 0px;
    }
    .text {
        font-size: 35px;
    }
    .hr {
        width: 100vw;
    }
}